#merchContainer{
   margin-top: 5vw;
   margin-bottom: 10vw;
   padding-bottom: 10vw;
}

body{
   background-image: url("../images/voidDb.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

main{
   margin-top: 3vw;
   color: lightblue;
}

#ad{
   margin-top: 3vw;
   color: lightblue;
}


