#body{
    background-image: url("../images/gokuBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#messageSuccessful{
    color: lightgreen;
    text-align: center;
}
#messageFailed{
    color: lightcoral;
    text-align: center;
}